<form class="formRegistration">

    {{{InputEmail}}}
    {{{InputLogin}}}
    {{{InputSecondName}}}
    {{{InputFirstName}}}
    {{{InputPhone}}}
    {{{InputPassword}}}
    {{{InputPasswordRepeat}}}
    {{{Button}}}


</form>