<div class="profileBlock " >

    {{{infoItemEmail}}}
    {{{infoItemLogin}}}
    {{{infoItemName}}}
    {{{infoItemSurname}}}
    {{{infoItemNick}}}
    {{{infoItemPhone}}}
    {{{infoItemEmail}}}
    {{{infoItemEmail}}}

    <div class="profileLinks">
        {{{linkChangeData}}}
            {{{divider}}}
        {{{linkChangePassword}}}
        {{{divider}}}

        <b> {{{linkExit}}}</b>

    </div>
</div>