<main class="bodyPagesLinks">
    <div class="containerPagesLinks">
        {{{linkAuth}}}
        {{{linkRegistration}}}
        {{{linkChat}}}
        {{{linkProfile}}}
        {{{linkProfileChangeInfo}}}
        {{{linkProfileChangePassword}}}
        {{{linkError500}}}
        {{{linkError400}}}
    </div>

</main>