<label class="labelInputDefault">
    <input class='inputDefault' type={{type}} placeholder={{placeholder}} name={{name}} value={{value}} />
    <span class="error" id='{{name}}Error'>{{error}}</span>

</label>